.Header{
  text-align: Center;
  color: Black;
  background-color: Silver;
  width: auto;
  height: 50px;
  margin-top:10px;
  margin-bottom: 10px;

}

.Login{
 margin-top: 50px;
 margin-left:200px;
 margin-right:200px;
 background-color:silver;
 border-style:double;	
 padding: 50px;
 width: 250px;
 height: 50px;
}

#e-mail{
	
	margin-left: 50px;
	width:125px;
}

#password{
	margin-left: 30px;
	width:125px;
}

#submitButton{
	margin-top: 10px;
}

#createLink{
	margin-left: 40px;
}