.Header{
  text-align: Center;
  color: Black;
  background-color: Silver;
  width: auto;
  height: 50px;
  margin-top:10px;
  margin-bottom: 50px;

}

.container{
	
  width:fit;
  height:200px;
		
}


.Login{
 position:relative;
 margin:auto;
 background-color:silver;
 border-style:double;	
 padding: 50px;
 width: 250px;
 height: 50px;
}

#e-mail{
	
	margin-bottom: 5px;
	margin-left: 20px;
	width:125px;
}

#password{
	
	margin-bottom: 5px;
	width:125px;
}

#submitButton{
	margin-top: 10px;
}

#createLink{
	margin-left: 40px;
}