
.header{
  text-align: Center;
  color: orange;
  background-color: #3A2F0B;
  width: auto;
  height: 50px;
  margin-top:10px;
  margin-bottom: 10px;

}

.navigation{
	
  float: right;
  background-color: #3A2F0B;
  
  border-style: solid;
  border-width: 5px;
}

.navigation ul {
  
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.navigation li {
 
  float: left;
  
}

.navigation li a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color:orange;
}


.navigation li a:hover:not(.active) {
  background-color: #0B6138;
}

.active {
  background-color: black;
}

body {
	background-image: url('/AlmitaInn/Images/inn.jpg');
    background-repeat:no-repeat;
    background-size: 100% 600%;
} 

.displayMode{
	color: orange;
	background-color: #3A2F0B;
	border-style:solid;
	font-size:40px;
	text-align: center;
    margin-left: auto;
    margin-right: auto;	
    margin-top: 50px;
    width: 260px;
   
}

#dropDown{
  width: 118px;
  margin-top:25px;
  margin-right: 25px;
  margin-bottom: 25px;
  font-size:20px;
}

.container{
	
	margin: 10px;
	position: relative;
	
	border-style: solid;
	border-color: orange;
	Margin-left: auto;
    Margin-right: auto;
	
	width: 935px;
	height: 156px;
}



#Room{
	position: absolute;
	visibility: visible;
	background-color: white;
	border-Style: solid;
	border-color: black;
    Width: 930px;
    height: 150px;
    z-index:3;
    top:0;
    left:0;
   
}
#Activities{
	position: absolute;
	visibility: visible;
	background-color: white;
	border-Style: solid;
	border-color: black;
    Width: 930px;
    height: 150px;
    z-index:2;
    top:0;
    left:0;
    
}
#Purchases{
	position: absolute;
	visibility: visible;
	background-color: white;
	border-Style: solid;
	border-color: black;
    Width: 930px;
    height: 150px;
    z-index:1;
    top:0;
    left:0;
    
}

table thead tr{
    display:block;
  
}

th, td{
	width: 300px;
   
}

table  {
    width:930px;
  
}


table  tbody{
  display:block;
  height:125px;
  overflow-y:scroll;
  overflow-x:scroll;
}

thead {
	background-color: grey;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align:center;
}

 th.ActTable {
	width: 451px;
	
}

td.ActTable{
	
	width: 451px;
}

